@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-SemiBold.ttf);
    font-weight: bold;
  }
body{
    font-family: OpenSans;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1,p{
    color: white;
    text-align: center;
}
h1{
    font-size: 400%;
    margin: 0;
}
p{
    margin-top: 0;
}
.ois-title{
    width: 100%;
    margin-top: 11%;
}
.form .row{
    display: flex;
    flex-direction: column;
}
.form{
    width: 75%;
    max-width: 380px;
    background-color: white;
    padding: 2% 2% ;
}
.row{
    margin: 2% 5%;
}

.submit-button{
    font-family: OpenSans;
    background-color: #00bac2;
    border-color: #616161;
    border-width: thin;
    margin-top: 5% ;
    padding: 5px 0 ;
    font-size: 14px;
    color: antiquewhite;
    line-height: 1.3333333;
}
label{
    color: #3c3c3c;
    margin: 5px 0;
}
input{
    padding: 5px 0;
}
