@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

body {
    margin:0;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}


h1{
    margin:1%;
}

p {
    font-size: large;
    font-weight: 100;

}


.member-manage {
    padding: 10px;
    position: relative;
    width: 40%;
    height: 100vh;
    margin:1%;
    background-color: #d4d4d4;
    float: left;
}

input {
    width: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.show-list {
    width: 100vw;
    height: 100vh;
    margin: 1%;
    padding: 10px;
    background-color: #ffffff;
}

.show-list ul {
    font-size: larger;
    margin: 1%;
}

.member-manage {
    position: relative;
    width: 400px;
    height: 450px;
    margin:1%;
}