.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
 
  background: -webkit-linear-gradient(45deg, #fdf9c3, #f6aa94);
  background: -o-linear-gradient(45deg, #fdf9c3, #f6aa94);
  background: -moz-linear-gradient(45deg, #fdf9c3, #f6aa94);
  background: linear-gradient(45deg, #fdf9c3, #f6aa94);
}

.selector {
  align-self: flex-end;
}

.team-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:20px 0px;
  font-size: 30pt;
}

.table {
  width: 100%;
}
