.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 250px;
}

.selector {
  align-self: flex-end;
}

.team-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:20px 0px;
  font-size: 30pt;
}

.table {
  width: 100%;
}

.App {
  padding: 120px 0px;
}
