body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 55vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
 
  background: -webkit-linear-gradient(45deg, #fdf9c3, #f6aa94);
  background: -o-linear-gradient(45deg, #fdf9c3, #f6aa94);
  background: -moz-linear-gradient(45deg, #fdf9c3, #f6aa94);
  background: linear-gradient(45deg, #fdf9c3, #f6aa94);

  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
